<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Upload Test</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        #result {
            margin-top: 20px;
            white-space: pre-wrap;
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>

<h2>Upload Media Test</h2>

<form method="post" action="/media" enctype="multipart/form-data">
    <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input name="file" type="file" id="fileInput">
    <input id="uploadBtn" type="submit" >
</form>


<div id="result"></div>

<!--<script>-->
<!--    document.getElementById("uploadBtn").addEventListener("click", async () => {-->

<!--        const fileInput = document.getElementById("fileInput");-->

<!--        if (fileInput.files.length === 0) {-->
<!--            alert("Please choose a file.");-->
<!--            return;-->
<!--        }-->

<!--        const formData = new FormData();-->
<!--        formData.append("file", fileInput.files[0]);-->

<!--        try {-->
<!--            const response = await fetch("http://127.0.0.1:8080/media", {-->
<!--                method: "POST",-->
<!--                body: formData-->
<!--            });-->

<!--            const text = await response.text();-->

<!--            document.getElementById("result").innerText =-->
<!--                "Status: " + response.status + "\n\n" + text;-->
<!--        } catch (err) {-->
<!--            document.getElementById("result").innerText =-->
<!--                "Request failed:\n" + err;-->
<!--        }-->
<!--    });-->
<!--</script>-->

</body>
</html>